* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.clearfix::after {
    clear: both;
    display: table;
    content: "";
}

/* Istruzioni per stilare i container */

body {
    position: relative;
    padding-top: calc(5vh / 2);
}

.upper-strip {
    background-color: rgb(53,134,117);
    height: 15vh;
    width: 100vw;
    z-index: 1;
    position: absolute;
    top: 0;
}

.lower-strip {
    background-color: rgb(210,212,201);
    height: 85vh;
    width: 100vw;
    z-index: 1;
    position: absolute;
    top: 15vh;
}

.container {
    height: 95vh;
    width: 80vw;
    z-index: 2;
    background-color: white;
    position: relative;
    margin: auto;
    display: flex;
}

.container > * {
    border: 1px solid cyan;
}

.container-left {
    width: 35%;
}

.container-right {
    width: 65%;
}

/* Istruzioni per stilare il container di sinistra */

.container-left .row {
    width: 100%;
    height: 50px;
    border: 1px solid crimson;
}

.container-left .row .row-left {
    border: 1px solid gold;
    width: 50px;
    height: 100%;
    float: left;
    line-height: 50px;
    text-align: center;
}

.container-left .row .row-middle {
    border: 1px solid gold;
    width: calc(100% - 150px);
    height: 100%;
    float: left;
    text-align: left;
}

.container-left .row .row-right {
    border: 1px solid gold;
    width: 100px;
    height: 100%;
    float: left;
    text-align: right;
    line-height: 50px;
}

/* Stilare le icone */

.row-left i {
    color: rgb(177,177,177);
    font-size: 30px;
    line-height: 50px;
}

.row-right i {
    color: rgb(177,177,177);
    padding: 0 5px;
}

/* Stilare le singole sezioni */

.container-left .row.grey {
    background-color: rgb(233,235,234);
}

.container-left .row.blue {
    background-color: rgb(142,218,252);
}

.container-left .row.searchbar .row-middle {
    width: calc(100% - 50px);
    padding: 5px;
}

.container-left .row.searchbar .row-middle input {
    width: 100%;
    height: 100%;
}

.container-left .row.user:hover {
    background-color: rgb(233,235,234);
}

/* Istruzioni per stilare il container di destra */

.container-right .row {
    width: 100%;
    height: 50px;
    border: 1px solid crimson;
}

.container-right .row .row-left {
    border: 1px solid gold;
    width: 50px;
    height: 100%;
    float: left;
    line-height: 50px;
    text-align: center;
}

.container-right .row .row-middle {
    border: 1px solid gold;
    width: calc(100% - 150px);
    height: 100%;
    float: left;
    text-align: left;
}

.container-right .row .row-right {
    border: 1px solid gold;
    width: 100px;
    height: 100%;
    float: left;
    text-align: right;
    line-height: 50px;
}

.container-right .row.grey {
    background-color: rgb(233,235,234);
}

/* Stilare il contenitore centrale */

.message-container {
    height: calc(100% - 100px);
    width: 100%;
    background-image: url(https://img.freepik.com/free-vector/seamless-pattern-petals-gray-background_53876-61842.jpg?size=338&ext=jpg);
}

/* Stilare l'input inferiore */

.container-right .row:last-child .row-middle {
    padding: 5px;
}

.grey input {
    width: 100%;
    height: 100%;
}
